<!DOCTYPE html>
<html>
<head>
    <title>Cloud Console Login</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="dark">

<div class="center">
    <form method="post" class="card">
        <h2 style="text-align:center;margin-bottom:10px;">Cloud Console</h2>
        <p style="text-align:center;opacity:.7;">Employees Infrastructure Management Portal</p>

        <input name="name" placeholder="Employee Name" required>
        <input name="emp_id" placeholder="Employee ID" required>

        <button type="submit">Sign in to Console</button>
    </form>
</div>

</body>
</html>
